# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [44]:
import pandas as pd
import numpy as np
import re
import seaborn as sns

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df_1 = pd.read_csv(url)

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
df_2 = pd.read_csv(url)

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df_3 = pd.read_csv(url)

df_1.columns = [col.replace(' ', '_').lower() for col in df_1.columns]
df_2.columns = [col.replace(' ', '_').lower() for col in df_2.columns]
df_3.columns = [col.replace(' ', '_').lower() for col in df_3.columns]
df_1.drop_duplicates()
df_2.drop_duplicates()
df_3.drop_duplicates()

new_df = pd.concat([df_1, df_2, df_3], axis=0)

new_df = new_df.drop_duplicates(subset='customer', keep='first')
new_df = new_df.rename({"st":"state"}, axis = 1) 

#Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".
gender_mapping = {
    'F': 'F',
    'f': 'F',
    'Female': 'F',
    'Femal': 'F',
    'M': 'M',
    'm': 'M',
    'Male': 'M',
    'male': 'M'
}

new_df['gender'] = new_df['gender'].replace(gender_mapping)

#State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
state_mapping = {
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
}

new_df['state'] = new_df['state'].replace(state_mapping)

#In education, "Bachelors" could be replaced by "Bachelor"
mapping = {
    'Bachelors': 'Bachelor'}

new_df['education'] = new_df['education'].replace(mapping)

#In Customer Lifetime Value, delete the % character
new_df['customer_lifetime_value'] = new_df['customer_lifetime_value'].str.replace("%", "", regex=False)

#In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
new_df['vehicle_class'] = new_df['vehicle_class'].str.replace("Sports Car", "Luxury", regex=False)
new_df['vehicle_class'] = new_df['vehicle_class'].str.replace("Luxury SUV", "Luxury", regex=False)
new_df['vehicle_class'] = new_df['vehicle_class'].str.replace("Luxury Car", "Luxury", regex=False)

new_df['customer_lifetime_value'] = new_df['customer_lifetime_value'].astype(float) 




mean_income = new_df["income"].mean()
new_df["income"].fillna(mean_income, inplace=True) 


mean_clv = new_df['customer_lifetime_value'].mean()
new_df['customer_lifetime_value'].fillna(mean_clv, inplace=True) 


df_insurance.head()

/var/folders/7c/x67b6nwd1kbd8z85vpp7nrw80000gn/T/ipykernel_44330/31288908.py:70: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df["income"].fillna(mean_income, inplace=True)
/var/folders/7c/x67b6nwd1kbd8z85vpp7nrw80000gn/T/ipykernel_44330/31288908.py:74: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['customer_lifetime_value'].fillna(mean_clv, inplace=True)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [60]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df_marketing = pd.read_csv(url)

pd.set_option('display.max_columns', None)
df_marketing.columns
df_marketing.head()
df_marketing.round(2)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.22,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.00,52,0.00,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.53,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.00,26,0.00,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.00,31,0.00,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.44,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.00,3,0.00,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.07,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.15,31,0.38,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,Suburban,Married,253,15.15,40,0.38,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.44,No,Basic,College,2011-01-06,Employed,F,61146,Urban,Married,65,7.00,68,0.00,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2011-02-06,Employed,F,39837,Rural,Married,201,11.00,63,0.00,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.98,No,Premium,College,2011-02-13,Employed,F,64195,Urban,Divorced,158,0.00,27,4.00,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.52,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,Suburban,Single,101,31.00,1,0.00,3,Personal Auto,Personal L1,Offer4,Web,1021.72,SUV,Medsize,A,1

In [92]:
#You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail). Round the total revenue to 2 decimal points. Analyze the resulting table to draw insights.
pd.set_option('display.float_format', '{:.2f}'.format)
pivot_table = df_marketing.pivot_table(index='sales_channel', values='customer_lifetime_value', aggfunc='sum')
pivot_table

#Analysis: agent is the best channel and web is the least effective one

#Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

pivot_table_3 = df_marketing.pivot_table(index='sales_channel', columns=['gender', 'education'], values=['customer_lifetime_value'], aggfunc='sum')
pivot_table_3

#Analysis: agent is the best channel across all eductation levels and gender. Branch also signifcant, web the least. Women have a higher lifetime value across all channels and education levels compared to men.

              customer_lifetime_value                       \
gender                              F
education                    Bachelor    College    Doctor
sales_channel
Agent                      4899239.60 4415801.74 443276.33
Branch                     3382168.06 4012647.17 414140.21
Call Center                2822759.51 2112715.16 417335.32
Web                        2282090.94 1918943.84 190949.92

                                                                               \
gender                                                 M
education     High School or Below     Master   Bachelor    College    Doctor
sales_channel
Agent                   5243127.39 1395254.48 4896956.83 4712143.46 691602.14
Branch                  3550776.86 1035848.11 3237082.67 3916144.04 328548.52
Call Center             2978321.02  845947.26 2692454.28 2260259.98 290525.28
Web                     2021374.85  597550.41 1283568.05 1963177.54 179806.12


gender
education     High School or Below     Master
sales_channel
Agent                   5051093.72 1309392.17
Branch                  3462466.95 1019378.63
Call Center             2371818.45  572152.11
Web                     1795535.08  464636.15

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here